<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>{% block title %}Кто-то забыл написать название{% endblock %}</title>
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="{% url 'index' %}">Eshop</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Категории</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Отзывы</a>
	      </li>
	      
	    </ul>
	  </div>
	</nav>

<div class="container mt-5">
	<div class="row justify-content-md-center">	
		
			{% block body %}
				Кто-то забыл наполнить страницу
			{% endblock %}
		
	</div>
</div>


</body>
</html>